@model Spotify2.Models.List
<div class="card text-center">
  <div class="card-header">
    Your Song
  </div>
  <div class="card-body">
    <h5 class="card-title">@Model.TrackName - @Model.ArtistName</h5>
    <p class="card-text">Acousticness - @Model.Acousticness</p>
    <p class="card-text">Danceability - @Model.Danceability</p>
    <p class="card-text">Liveness - @Model.Liveness</p>
    <p class="card-text">Loudness - @Model.Loudness</p>
    <p class="card-text">Mode - @Model.Mode</p>
    <p class="card-text">Speechiness - @Model.Speechiness</p>
    <p class="card-text">Tempo - @Model.Tempo</p>
    <p class="card-text">Valence - @Model.Valence</p>
    <p class="card-text">Popularity - @Model.Popularity</p>
   @* <a href="#" class="btn btn-primary">Go somewhere</a>*@
  </div>
  <div class="card-footer text-muted">
      Designed By - Emre ÖZGÖZ
  </div>
</div>